<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property -->
        <property name="hibernate.connection.username">wharu</property>
        <property name="hibernate.connection.password">wharu</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wharu?serverTimezone=UTC</property>
        <property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.region_prefix">hibernate.wharu</property>
        <property name="hibernate.jdbc.use_streams_for_binary">true</property>
        <property name="hibernate.jdbc.batch_size">0</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.generate_statistics">false</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
        <!-- mapping class="com.wheru.dao.User"/>
        <mapping class="com.wheru.dao.Event"/>
        <mapping class="com.wheru.dao.UserEvent"/>
        <mapping class="com.wheru.dao.MapCoordinate"/ -->
    </session-factory>
</hibernate-configuration>